@media (min-width:320px) {

  body{
    background: none;
  }

  #content {
    width: 300px;
    font-size: 7.2vw;
  }
}

@media (min-width:480px) { 
  
  #content {
    width: 460px;
    font-size: 5.9vw;
  }

}

@media (min-width:1025px) and (max-width: 2560px) { 

  #content {
    width: 960px;
    font-size: 3vw;
  }

}
